<div class="post-container">
    <div class="post-title">
    <h2>{{post_title}}</h2>
    </div>
    <p class="post-content">{{post_content}}</p>
    <div class="post-information">
    <p>Posted by user: {{user_id}}</p>
    <p> On {{created_on}}</p>
    </div>
</div>
<div>
    <p>
    {{post.comment.comment_content}}
    </p>
</div>
{{#if logged_in}}
<form id="comment-form">
    <input id="comment-input">
    <button type="submit" id="add-comment-button">Add Comment</button>
</form>
{{/if}}